@import "tailwindcss";
@utility container {
  margin: 0 auto;
}

@theme {
  --color-brand: #3bb77e;
  --color-primary: #253d4e;
  --color-secondary: #7e7e7e;
  --color-text: #1b1b1b;

  --font-headerFont: "Noto Sans", sans-serif;
  --font-textFont: "Open Sans", sans-serif;
}

.a {
  background-color: #1b1b1b;
}

.responsive-arrows .splide__arrows {
  display: none;
}

@media (min-width: 768px) {
  .responsive-arrows .splide__arrows {
    display: flex !important;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;
  }
}

.button-shadow {
  box-shadow: #f59e0b66 0px 5px, #f59e0b4d 0px 10px, #f59e0b33 0px 15px,
    #f59e0b1a 0px 20px, #f59e0b0d 0px 25px;
}
.button-shadow-hover:hover {
  box-shadow: #f59e0b66 0px 5px, #f59e0b4d 0px 10px, #f59e0b33 0px 15px,
    #f59e0b1a 0px 20px, #f59e0b0d 0px 25px;
}

.product-shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.product-shadow-hover:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
